@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f0ae44;
  --daccent-color: #100f32;
  --black-color  : #000;
  --white-color  : #fff;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin                 : 0;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size              : 14px;
  line-height            : 24px;
}

/*-----------------------------------------------------------------------------------------
 The 'dark' class will be added to the root element
 for dark mode and removed if otherwise
-------------------------------------------------------------------------------------------*/
.dark {
  background-color: #000;
  color           : var(--white-color);
}

.dark a:not(.fulllink, .btn, .btn-yellow, .formFieldButton) {
  color: var(--white-color);
}

/*--------------------------------------------
Header Styling
---------------------------------------------*/
.header {
  display        : flex;
  justify-content: space-between;
  padding        : 15px 5%;
  align-items    : center;
}

.header ul {
  display    : flex;
  padding    : 15px;
  align-items: center;
  gap        : 15px;
  list-style : none;
}

.header li {
  display: inline-block;
}



/* ----------------------------------------------------------------
  Overlays
-----------------------------------------------------------------*/

.bg-overlay,
.bg-overlay-bg,
.bg-overlay-content {
  position     : absolute;
  width        : 100%;
  height       : 100%;
  top          : 0;
  left         : 0;
  overflow     : hidden;
  border-radius: 20px;
}

.bg-overlay [data-hover-animate]:not(.animated) {
  opacity: 0;
}

.bg-overlay {
  z-index: 5;
}

.bg-overlay-content {
  display        : -ms-flexbox;
  display        : flex;
  align-items    : center;
  justify-content: center;
  z-index        : 1;
  padding        : 20px;
}

.bg-overlay-bg {
  background-color: rgba(255, 255, 255, 0.85);
}

.dark .bg-overlay-bg,
.bg-overlay-bg.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-overlay-mask {
  opacity: 0.85;
  top    : auto;
  bottom : 0;
  height : auto;
  padding: 40px 15px 15px;
  background: -moz-linear-gradient(top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.85)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}

.overlay-trigger-icon {
  display                    : block;
  width                      : 40px;
  height                     : 40px;
  line-height                : 40px;
  margin                     : 0 0.25rem;
  font-size                  : 1.125rem;
  text-align                 : center;
  border-radius              : 50%;
  -webkit-backface-visibility: hidden;
  transition                 : all 0.3s ease;
}

.overlay-trigger-icon .icon-line-play {
  position: relative;
  left    : 2px;
}

.overlay-trigger-icon.size-sm {
  width      : 30px;
  height     : 30px;
  line-height: 30px;
  margin     : 0 0.5rem;
  font-size  : 0.875rem;
}

.overlay-trigger-icon.size-lg {
  width      : 64px;
  height     : 64px;
  line-height: 64px;
  margin     : 0 0.5rem;
  font-size  : 1.5rem;
}

/* News Carousel Overlays
-----------------------------------------------------------------*/

.news-carousel .rounded-skill {
  position   : absolute;
  margin     : 0 !important;
  top        : 30px;
  right      : 30px;
  color      : var(--white-color);
  font-weight: 700;
}

/* Portfolio - Item Title
-----------------------------------------------------------------*/

.portfolio-desc {
  position: relative;
  z-index : 6;
  padding : 20px 5px;
}

.portfolio-desc h3 {
  margin   : 0;
  padding  : 0;
  font-size: 1.25rem;
}

.portfolio-desc h3 a {
  color: #1abc9c;
}

.portfolio-desc h3 a:hover {
  color: var(--white-color);
}

.portfolio-desc span {
  display: block;
}

.portfolio-desc span,
.portfolio-desc span a {
  color: var(--white-color);
}

.portfolio-desc span a:hover {
  color: teal;
}

.desc-lg .portfolio-desc {
  padding: 20px 8px;
}

.desc-lg .portfolio-desc h3 {
  font-size: 1.5rem;
}

.desc-lg .portfolio-desc span {
  font-size: 110%;
}

.desc-sm .portfolio-desc {
  padding: 15px 5px;
}

.desc-sm .portfolio-desc h3 {
  font-size: 1rem;
}

.desc-sm .portfolio-desc span {
  font-size: 90%;
}

.portfolio.g-0 .portfolio-desc {
  padding-left : 15px;
  padding-right: 15px;
}

.portfolio.desc-sm.g-0 .portfolio-desc {
  padding-left : 10px;
  padding-right: 10px;
}

.portfolio-reveal .portfolio-desc {
  background-color : var(--white-color);
  top              : -100%;
  -webkit-transform: translateY(100%);
  transform        : translateY(100%);
}

@media (min-width: 768px) {
  .portfolio-reveal .portfolio-desc {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
  }
}

.portfolio-reveal .portfolio-item:hover .portfolio-desc {
  -webkit-transform: translateY(0);
  transform        : translateY(0);
}

.portfolio-reveal .portfolio-item:hover .portfolio-image img,
.portfolio-reveal .portfolio-item:hover .bg-overlay {
  -webkit-transform: translateY(0);
  transform        : translateY(0);
}

@media (min-width: 768px) {

  .portfolio-reveal .portfolio-item:hover .portfolio-image img,
  .portfolio-reveal .portfolio-item:hover .bg-overlay {
    -webkit-transform: translateY(-15%);
    transform        : translateY(-15%);
  }
}

@media (max-width: 767.98px) {

  .portfolio-reveal .portfolio-desc,
  .portfolio-reveal .portfolio-desc {
    display: none !important;
  }
}

.col-md-9 .portfolio-desc h3 {
  font-size: 1.125rem;
}

.col-md-9 .portfolio-desc span {
  font-size: 0.875rem;
}

.carousel-control .icon-chevron-left,
.carousel-control .icon-chevron-right {
  position: absolute;
  top     : 47.5%;
  z-index : 5;
  display : inline-block;
}

/* ----------------------------------------------------------------
  Styled Icons
-----------------------------------------------------------------*/

.social-icon {
  display    : block;
  float      : left;
  margin     : 4px 11px 7px 0;
  text-align : center !important;
  font-size  : 28px;
  color      : var(--white-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor     : pointer;
  font-style : normal;
}

body:not(.device-touch) .social-icon {
  -webkit-transition: all 0.3s ease;
  -o-transition     : all 0.3s ease;
  transition        : all 0.3s ease;
}

/* ----------------------------------------------------------------
  Social Icons
-----------------------------------------------------------------*/

.social-icon {
  margin       : 0 5px 5px 0;
  width        : 40px;
  height       : 40px;
  font-size    : 1.25rem;
  line-height  : 38px !important;
  color        : #555;
  text-shadow  : none;
  border       : 1px solid #aaa;
  border-radius: 3px;
  overflow     : hidden;
}

.d-flex>.social-icon,
.d-sm-flex>.social-icon,
.d-md-flex>.social-icon,
.d-lg-flex>.social-icon,
.d-xl-flex>.social-icon,
.d-xxl-flex>.social-icon {
  float        : none;
  margin-bottom: 0px;
}

/* Social Icons - Rounded
-----------------------------------------------------------------*/

.si-rounded {
  border-radius: 50%;
}

/* Social Icons - Borderless
-----------------------------------------------------------------*/

.si-borderless {
  border-color: transparent !important;
}

/* Social Icons - Dark
-----------------------------------------------------------------*/

.si-dark {
  background-color: #444;
  color           : var(--white-color) !important;
  border-color    : transparent;
}

/* Social Icons - Light
-----------------------------------------------------------------*/

.si-light {
  background-color: rgba(0, 0, 0, 0.05);
  color           : #666 !important;
  border-color    : transparent;
}

/* Social Icons - Colored
-----------------------------------------------------------------*/

.si-colored {
  border-color: transparent !important;
}

.si-colored i {
  color: var(--white-color);
}

/* Social Icons - Large
-----------------------------------------------------------------*/

.social-icon.si-large {
  margin     : 0 10px 10px 0;
  width      : 56px;
  height     : 56px;
  font-size  : 30px;
  line-height: 54px !important;
}

/* Social Icons - Small
-----------------------------------------------------------------*/

.social-icon.si-small {
  width      : 32px;
  height     : 32px;
  font-size  : 0.875rem;
  line-height: 30px !important;
}

.social-icon i {
  display : block;
  position: relative;
}

body:not(.device-touch) .social-icon i {
  -webkit-transition: all 0.3s ease;
  -o-transition     : all 0.3s ease;
  transition        : all 0.3s ease;
}

.social-icon i:last-child {
  color: var(--white-color) !important;
}

.social-icon:hover i:first-child {
  margin-top: -38px;
}

.social-icon.si-large:hover i:first-child {
  margin-top: -54px;
}

.social-icon.si-small:hover i:first-child {
  margin-top: -30px;
}

.social-icon:hover {
  color       : #555;
  border-color: transparent;
}

.si-colored.social-icon {
  border-color: transparent;
}

/* Social Icons - Sticky
-----------------------------------------------------------------*/

.si-sticky {
  position : fixed;
  top      : 50%;
  left     : 5px;
  width    : 36px;
  z-index  : 499;
  transform: translateY(-50%);
}

/* Social Icons - Sticky Right
-----------------------------------------------------------------*/

.si-sticky.si-sticky-right {
  left : auto;
  right: 8px;
}

/* Social Icons - Share
-----------------------------------------------------------------*/

.si-share {
  position     : relative;
  padding-left : 5px;
  border-top   : 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.si-share span {
  line-height: 36px;
  font-weight: bold;
  font-size  : 13px;
}

.si-share .social-icon {
  margin       : -1px 0;
  border-radius: 0;
  font-size    : 15px;
}

.si-facebook:hover,
.si-colored.si-facebook {
  background-color: #3b5998 !important;
}

.si-delicious:hover,
.si-colored.si-delicious {
  background-color: #205cc0 !important;
}

.si-paypal:hover,
.si-colored.si-paypal {
  background-color: #00588b !important;
}

.si-flattr:hover,
.si-colored.si-flattr {
  background-color: #f67c1a !important;
}

.si-android:hover,
.si-colored.si-android {
  background-color: #a4c639 !important;
}

.si-smashmag:hover,
.si-colored.si-smashmag {
  background-color: #e53b2c !important;
}

.si-gplus:hover,
.si-colored.si-gplus {
  background-color: #dd4b39 !important;
}

.si-wikipedia:hover,
.si-colored.si-wikipedia {
  background-color: #333 !important;
}

.si-stumbleupon:hover,
.si-colored.si-stumbleupon {
  background-color: #f74425 !important;
}

.si-foursquare:hover,
.si-colored.si-foursquare {
  background-color: #25a0ca !important;
}

.si-call:hover,
.si-colored.si-call {
  background-color: #444 !important;
}

.si-ninetyninedesigns:hover,
.si-colored.si-ninetyninedesigns {
  background-color: #f26739 !important;
}

.si-forrst:hover,
.si-colored.si-forrst {
  background-color: #5b9a68 !important;
}

.si-digg:hover,
.si-colored.si-digg {
  background-color: #191919 !important;
}

.si-spotify:hover,
.si-colored.si-spotify {
  background-color: #81b71a !important;
}

.si-reddit:hover,
.si-colored.si-reddit {
  background-color: #c6c6c6 !important;
}

.si-blogger:hover,
.si-colored.si-blogger {
  background-color: #fc4f08 !important;
}

.si-cc:hover,
.si-colored.si-cc {
  background-color: #688527 !important;
}

.si-dribbble:hover,
.si-colored.si-dribbble {
  background-color: #ea4c89 !important;
}

.si-evernote:hover,
.si-colored.si-evernote {
  background-color: #5ba525 !important;
}

.si-flickr:hover,
.si-colored.si-flickr {
  background-color: #ff0084 !important;
}

.si-google:hover,
.si-colored.si-google {
  background-color: #dd4b39 !important;
}

.si-instapaper:hover,
.si-colored.si-instapaper {
  background-color: #333 !important;
}

.si-klout:hover,
.si-colored.si-klout {
  background-color: #ff5f52 !important;
}

.si-linkedin:hover,
.si-colored.si-linkedin {
  background-color: #0e76a8 !important;
}

.si-vk:hover,
.si-colored.si-vk {
  background-color: #2b587a !important;
}

.si-rss:hover,
.si-colored.si-rss {
  background-color: #ee802f !important;
}

.si-skype:hover,
.si-colored.si-skype {
  background-color: #00aff0 !important;
}

.si-twitter:hover,
.si-colored.si-twitter {
  background-color: #00acee !important;
}

.si-youtube:hover,
.si-colored.si-youtube {
  background-color: #c4302b !important;
}

.si-vimeo:hover,
.si-colored.si-vimeo {
  background-color: #86c9ef !important;
}

.si-aim:hover,
.si-colored.si-aim {
  background-color: #fcd20b !important;
}

.si-yahoo:hover,
.si-colored.si-yahoo {
  background-color: #720e9e !important;
}

.si-email3:hover,
.si-colored.si-email3 {
  background-color: #6567a5 !important;
}

.si-macstore:hover,
.si-colored.si-macstore {
  background-color: #333333 !important;
}

.si-myspace:hover,
.si-colored.si-myspace {
  background-color: #666666 !important;
}

.si-podcast:hover,
.si-colored.si-podcast {
  background-color: #e4b21b !important;
}

.si-cloudapp:hover,
.si-colored.si-cloudapp {
  background-color: #525557 !important;
}

.si-dropbox:hover,
.si-colored.si-dropbox {
  background-color: #3d9ae8 !important;
}

.si-ebay:hover,
.si-colored.si-ebay {
  background-color: #89c507 !important;
}

.si-github:hover,
.si-colored.si-github {
  background-color: #171515 !important;
}

.si-googleplay:hover,
.si-colored.si-googleplay {
  background-color: #dd4b39 !important;
}

.si-itunes:hover,
.si-colored.si-itunes {
  background-color: #222 !important;
}

.si-plurk:hover,
.si-colored.si-plurk {
  background-color: #cf5a00 !important;
}

.si-pinboard:hover,
.si-colored.si-pinboard {
  background-color: #0000e6 !important;
}

.si-soundcloud:hover,
.si-colored.si-soundcloud {
  background-color: #ff7700 !important;
}

.si-tumblr:hover,
.si-colored.si-tumblr {
  background-color: #34526f !important;
}

.si-wordpress:hover,
.si-colored.si-wordpress {
  background-color: #1e8cbe !important;
}

.si-yelp:hover,
.si-colored.si-yelp {
  background-color: #c41200 !important;
}

.si-intensedebate:hover,
.si-colored.si-intensedebate {
  background-color: #009ee4 !important;
}

.si-eventbrite:hover,
.si-colored.si-eventbrite {
  background-color: #f16924 !important;
}

.si-scribd:hover,
.si-colored.si-scribd {
  background-color: #666666 !important;
}

.si-stripe:hover,
.si-colored.si-stripe {
  background-color: #008cdd !important;
}

.si-print:hover,
.si-colored.si-print {
  background-color: #111 !important;
}

.si-dwolla:hover,
.si-colored.si-dwolla {
  background-color: #ff5c03 !important;
}

.si-statusnet:hover,
.si-colored.si-statusnet {
  background-color: #131a30 !important;
}

.si-acrobat:hover,
.si-colored.si-acrobat {
  background-color: #d3222a !important;
}

.si-drupal:hover,
.si-colored.si-drupal {
  background-color: #27537a !important;
}

.si-buffer:hover,
.si-colored.si-buffer {
  background-color: #333333 !important;
}

.si-pocket:hover,
.si-colored.si-pocket {
  background-color: #ee4056 !important;
}

.si-bitbucket:hover,
.si-colored.si-bitbucket {
  background-color: #0e4984 !important;
}

.si-stackoverflow:hover,
.si-colored.si-stackoverflow {
  background-color: #ef8236 !important;
}

.si-hackernews:hover,
.si-colored.si-hackernews {
  background-color: #ff6600 !important;
}

.si-xing:hover,
.si-colored.si-xing {
  background-color: #126567 !important;
}

.si-instagram:hover,
.si-colored.si-instagram {
  background-color: #8a3ab9 !important;
}

.si-quora:hover,
.si-colored.si-quora {
  background-color: #a82400 !important;
}

.si-openid:hover,
.si-colored.si-openid {
  background-color: #e16309 !important;
}

.si-steam:hover,
.si-colored.si-steam {
  background-color: #111 !important;
}

.si-amazon:hover,
.si-colored.si-amazon {
  background-color: #e47911 !important;
}

.si-disqus:hover,
.si-colored.si-disqus {
  background-color: #e4e7ee !important;
}

.si-plancast:hover,
.si-colored.si-plancast {
  background-color: #222 !important;
}

.si-appstore:hover,
.si-colored.si-appstore {
  background-color: #000 !important;
}

.si-pinterest:hover,
.si-colored.si-pinterest {
  background-color: #c8232c !important;
}

.si-fivehundredpx:hover,
.si-colored.si-fivehundredpx {
  background-color: #111 !important;
}

.si-tiktok:hover,
.si-colored.si-tiktok {
  background-color: #000 !important;
}

.si-whatsapp:hover,
.si-colored.si-whatsapp {
  background-color: #25d366 !important;
}

.si-tripadvisor:hover,
.si-colored.si-tripadvisor {
  background-color: #00af87 !important;
}

.si-gpay:hover,
.si-colored.si-gpay {
  background-color: #6877df !important;
}

.si-unsplash:hover,
.si-colored.si-unsplash {
  background-color: #111 !important;
}

.si-snapchat:hover,
.si-colored.si-snapchat {
  background-color: var(--white-color)c00 !important;
}

/* Social Icons Text Color
-----------------------------------------------------------------*/

.si-text-color.si-facebook i {
  color: #3b5998;
}

.si-text-color.si-delicious i {
  color: #205cc0;
}

.si-text-color.si-paypal i {
  color: #00588b;
}

.si-text-color.si-flattr i {
  color: #f67c1a;
}

.si-text-color.si-android i {
  color: #a4c639;
}

.si-text-color.si-smashmag i {
  color: #e53b2c;
}

.si-text-color.si-gplus i {
  color: #dd4b39;
}

.si-text-color.si-wikipedia i {
  color: #333;
}

.si-text-color.si-stumbleupon i {
  color: #f74425;
}

.si-text-color.si-foursquare i {
  color: #25a0ca;
}

.si-text-color.si-call i {
  color: #444;
}

.si-text-color.si-ninetyninedesigns i {
  color: #f26739;
}

.si-text-color.si-forrst i {
  color: #5b9a68;
}

.si-text-color.si-digg i {
  color: #191919;
}

.si-text-color.si-spotify i {
  color: #81b71a;
}

.si-text-color.si-reddit i {
  color: #c6c6c6;
}

.si-text-color.si-blogger i {
  color: #fc4f08;
}

.si-text-color.si-cc i {
  color: #688527;
}

.si-text-color.si-dribbble i {
  color: #ea4c89;
}

.si-text-color.si-evernote i {
  color: #5ba525;
}

.si-text-color.si-flickr i {
  color: #ff0084;
}

.si-text-color.si-google i {
  color: #dd4b39;
}

.si-text-color.si-instapaper i {
  color: #333;
}

.si-text-color.si-klout i {
  color: #ff5f52;
}

.si-text-color.si-linkedin i {
  color: #0e76a8;
}

.si-text-color.si-vk i {
  color: #2b587a;
}

.si-text-color.si-rss i {
  color: #ee802f;
}

.si-text-color.si-skype i {
  color: #00aff0;
}

.si-text-color.si-twitter i {
  color: #00acee;
}

.si-text-color.si-youtube i {
  color: #c4302b;
}

.si-text-color.si-vimeo i {
  color: #86c9ef;
}

.si-text-color.si-aim i {
  color: #fcd20b;
}

.si-text-color.si-yahoo i {
  color: #720e9e;
}

.si-text-color.si-email3 i {
  color: #6567a5;
}

.si-text-color.si-macstore i {
  color: #333333;
}

.si-text-color.si-myspace i {
  color: #666666;
}

.si-text-color.si-podcast i {
  color: #e4b21b;
}

.si-text-color.si-cloudapp i {
  color: #525557;
}

.si-text-color.si-dropbox i {
  color: #3d9ae8;
}

.si-text-color.si-ebay i {
  color: #89c507;
}

.si-text-color.si-github i {
  color: #171515;
}

.si-text-color.si-googleplay i {
  color: #dd4b39;
}

.si-text-color.si-itunes i {
  color: #222;
}

.si-text-color.si-plurk i {
  color: #cf5a00;
}

.si-text-color.si-pinboard i {
  color: #0000e6;
}

.si-text-color.si-soundcloud i {
  color: #ff7700;
}

.si-text-color.si-tumblr i {
  color: #34526f;
}

.si-text-color.si-wordpress i {
  color: #1e8cbe;
}

.si-text-color.si-yelp i {
  color: #c41200;
}

.si-text-color.si-intensedebate i {
  color: #009ee4;
}

.si-text-color.si-eventbrite i {
  color: #f16924;
}

.si-text-color.si-scribd i {
  color: #666666;
}

.si-text-color.si-stripe i {
  color: #008cdd;
}

.si-text-color.si-print i {
  color: #111;
}

.si-text-color.si-dwolla i {
  color: #ff5c03;
}

.si-text-color.si-statusnet i {
  color: #131a30;
}

.si-text-color.si-acrobat i {
  color: #d3222a;
}

.si-text-color.si-drupal i {
  color: #27537a;
}

.si-text-color.si-buffer i {
  color: #333333;
}

.si-text-color.si-pocket i {
  color: #ee4056;
}

.si-text-color.si-bitbucket i {
  color: #0e4984;
}

.si-text-color.si-stackoverflow i {
  color: #ef8236;
}

.si-text-color.si-hackernews i {
  color: #ff6600;
}

.si-text-color.si-xing i {
  color: #126567;
}

.si-text-color.si-instagram i {
  color: #8a3ab9;
}

.si-text-color.si-quora i {
  color: #a82400;
}

.si-text-color.si-openid i {
  color: #e16309;
}

.si-text-color.si-steam i {
  color: #111;
}

.si-text-color.si-amazon i {
  color: #e47911;
}

.si-text-color.si-disqus i {
  color: #e4e7ee;
}

.si-text-color.si-plancast i {
  color: #222;
}

.si-text-color.si-appstore i {
  color: #000;
}

.si-text-color.si-pinterest i {
  color: #c8232c;
}

.si-text-color.si-fivehundredpx i {
  color: #111;
}

.si-text-color.si-tiktok i {
  color: #000;
}

.si-text-color.si-whatsapp i {
  color: #25d366;
}

.si-text-color.si-tripadvisor i {
  color: #00af87;
}

.si-text-color.si-gpay i {
  color: #6877df;
}

.si-text-color.si-unsplash i {
  color: #111;
}

.si-text-color.si-snapchat i {
  color: var(--white-color)c00;
}

.si-text-color:hover {
  color: var(--white-color);
}

.animate__fadeInRight {
  --animate-duration: 2s;
  --animate-delay   : 0.2s;
}

@media (max-width: 999px) {
  .cimg {
    display: none;
  }
}

.accordion-list {
  list-style      : none;
  margin          : 0;
  padding         : 0;
  background-color: var(--white-color);
  max-width       : 100%;
  border-radius   : 0.4rem;
  overflow        : hidden;
  box-shadow      : 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06),
    0 20px 30px -10px rgba(15, 72, 179, 0.2);
}

.accordion-list__item+.accordion-list__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-item--opened .accordion-item__icon {
  transform: rotate(180deg);
}

.accordion-item--opened .accordion-item__inner {
  max-height                : 100rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration       : 0.5s;
  transition-property       : max-height;
}

.accordion-item--opened .accordion-item__content {
  opacity                   : 1;
  transform                 : translateY(0);
  transition-delay          : 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration       : 0.2s;
  transition-property       : opacity, transform;
}

.accordion-item__line {
  display         : block;
  padding         : 0.8rem 1.2rem;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  background-color: var(--white-color);
  z-index         : 2;
  position        : relative;
  cursor          : pointer;
}

.accordion-item__title {
  font-size  : 14pt;
  margin     : 0;
  font-weight: 700;
  color      : #121212;
}

.accordion-item__icon {
  width            : 1.2rem;
  height           : 1.2rem;
  transition       : transform 0.3s ease-in-out;
  background-size  : contain;
  background-repeat: no-repeat;
  background-image : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
  opacity          : 0.6;
}

.accordion-item__inner {
  max-height         : 0;
  overflow           : hidden;
  text-transform     : cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
  z-index            : 1;
  position           : relative;
}

.accordion-item__content {
  opacity                   : 0;
  transform                 : translateY(-1rem);
  transition-timing-function: linear, ease;

  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay   : 0.5s;
  padding            : 0 1.2rem 1.2rem;
}

.accordion-item__paragraph {
  margin     : 0;
  font-size  : 1rem;
  color      : #333;
  font-weight: 300;
  line-height: 1.3;
}

/*------------------------------
FAQ Dark Mode
------------------------------*/
.dark .accordion-list {
  background-color: #222;
}

.dark .accordion-list__item+.accordion-list__item {
  border-top-color: #222;
}

.dark .accordion-item__line {
  background-color: #222;
}

.dark .accordion-item__title {
  color: var(--white-color);
}

.dark .accordion-list .accordion-item__paragraph {
  color: var(--white-color);
}

.dark .accordion-item__icon {
  filter: invert(100%);
}

.App {
  height          : auto;
  display         : flex;
  color           : black;
  background-color: #eae7eb;
}

.App .container:first-child>div:first-child {
  margin-top: 10rem;
}


.dark .App {
  color           : white;
  background-color: #12130f;
}

.appAside {
  width           : 50%;
  background-image: url("assets/img/signup.jpg");
  background-size : cover;
}

@media screen and (max-width: 767px) {
  .appAside {
    display: none;
  }
}

.appForm {
  width           : 50%;
  color           : #000;
  background-color: #eae7eb;
  padding         : 25px 40px;
  overflow        : auto;
}

.dark .appForm {
  background-color: #12130f;
  color           : var(--white-color);
}

@media screen and (max-width: 767px) {
  .appForm {
    width: 100%;
  }
}

.pageSwitcher {
  display        : flex;
  justify-content: flex-end;
  margin-bottom  : 10%;
}

.pageSwitcherItem {
  background-color: #40434e;
  color           : #9da6b1;
  padding         : 10px 25px;
  cursor          : pointer;
  font-size       : 0.9em;
  border          : none;
  outline         : none;
  display         : inline-block;
  text-decoration : none;
}

.pageSwitcherItem-active {
  background-color: var(--primary-color);
  color           : white;
}

.pageSwitcherItem:first-child {
  border-top-left-radius   : 25px;
  border-bottom-left-radius: 25px;
}

.pageSwitcherItem:last-child {
  border-top-right-radius   : 25px;
  border-bottom-right-radius: 25px;
}

.formCenter {
  margin-bottom: 100px;
}

.formTitle {
  color        : #707c8b;
  font-weight  : 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color          : #707c8b;
  text-decoration: none;
  display        : inline-block;
  font-size      : 1.7em;
  margin         : 0 10px;
  padding-bottom : 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLink-active {
  color        : white;
  border-bottom: 1px solid var(--primary-color);
}

.formField {
  margin-bottom: 40px;
}

.formFieldLabel {
  display       : block;
  text-transform: uppercase;
  font-size     : 0.9em;
  color         : #000;
}

.formFieldInput,
input.formFieldInput:-internal-autofill-selected {
  appearance      : unset !important;
  width           : 85%;
  background-color: transparent !important;
  border          : none;
  outline         : none;
  border-bottom   : 1px solid #445366;
  font-size       : 1em;
  font-weight     : 300;
  padding-bottom  : 10px;
  margin-top      : 10px;
}

input.formFieldInput:-webkit-autofill,
input.formFieldInput:-webkit-autofill:hover,
input.formFieldInput:-webkit-autofill:focus,
input.formFieldInput:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

.dark input.formFieldInput:-webkit-autofill,
.dark input.formFieldInput:-webkit-autofill:hover,
.dark input.formFieldInput:-webkit-autofill:focus,
.dark input.formFieldInput:-webkit-autofill:active {
  -webkit-text-fill-color: var(--white-color);
  -webkit-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

input.formFieldInput:-khtml-autofill,
input.formFieldInput:-khtml-autofill:hover,
input.formFieldInput:-khtml-autofill:focus,
input.formFieldInput:-khtml-autofill:active {
  -khtml-text-fill-color: #000;
  -khtml-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

.dark input.formFieldInput:-khtml-autofill,
.dark input.formFieldInput:-khtml-autofill:hover,
.dark input.formFieldInput:-khtml-autofill:focus,
.dark input.formFieldInput:-khtml-autofill:active {
  -khtml-text-fill-color: var(--white-color);
  -khtml-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

input.formFieldInput:-moz-autofill,
input.formFieldInput:-moz-autofill:hover,
input.formFieldInput:-moz-autofill:focus,
input.formFieldInput:-moz-autofill:active {
  -moz-text-fill-color: #000;
  -moz-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

.dark input.formFieldInput:-moz-autofill,
.dark input.formFieldInput:-moz-autofill:hover,
.dark input.formFieldInput:-moz-autofill:focus,
.dark input.formFieldInput:-moz-autofill:active {
  -moz-text-fill-color: var(--white-color);
  -moz-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

input.formFieldInput:-o-autofill,
input.formFieldInput:-o-autofill:hover,
input.formFieldInput:-o-autofill:focus,
input.formFieldInput:-o-autofill:active {
  -o-text-fill-color: #000;
  -o-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

.dark input.formFieldInput:-o-autofill,
.dark input.formFieldInput:-o-autofill:hover,
.dark input.formFieldInput:-o-autofill:focus,
.dark input.formFieldInput:-o-autofill:active {
  -o-text-fill-color: var(--white-color);
  -o-box-shadow     : 0 0 0 30px rgba(0, 0, 0, 0.01) inset !important;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.dark .formFieldLabel {
  color: white;
}

.react-select-container .react-select__control .react-select__value-container .react-select__single-value {
  color: #000000d9
}


.react-select__control .react-select__value-container .react-select__multi-value {
  background-color: var(--primary-color);
}

.dark .react-select-container .react-select__control .react-select__value-container .react-select__single-value {
  color: var(--white-color)fffd9
}

.dark .react-select-container .react-select__control,
.dark .react-select-container .react-select__control .react-select-placholder,
.dark .react-select-container .react-select__menu {
  border          : none;
  outline         : none;
  color           : white;
  background-color: transparent;
}

.dark .react-select-container .react-select__menu {
  background-color: #00000099;
  border          : #445366;
}

.dark .react-select-container .react-select__menu .react-select__option:focus,
.dark .react-select-container .react-select__menu .react-select__option:hover,
.dark .react-select-container .react-select__menu .react-select__option::selection {
  background-color: var(--primary-color);
  color           : #000;
}

.dark .btn-outline {
  color       : white;
  border-color: white;
}

.btn-yellow,
.formFieldButton {
  background-color: var(--primary-color);
  border          : none;
  outline         : none;
  border-radius   : 25px;
  font-size       : 1em;
  font-weight     : 500;
  cursor          : pointer;
  display         : flex;
  min-width       : 120px;
  padding         : 15px;
  justify-content : center;
  align-items     : center;
  color           : #000;
  gap             : 10px;
}

.btn-yellow:hover {
  background-color: var(--daccent-color);
  color           : #66707d;
}

.formFieldLink {
  color          : #66707d;
  text-decoration: none;
  display        : inline-block;
  border-bottom  : 1.5px solid var(--primary-color);
  padding-bottom : 5px;
}

.formFieldCheckboxLabel {
  color    : #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top     : 1.5px;
}

.formFieldTermsLink {
  color          : white;
  border-bottom  : 1px solid var(--primary-color);
  text-decoration: none;
  display        : inline-block;
  padding-bottom : 2px;
  margin-left    : 5px;
}

.socialMediaButtons {
  padding: 10px 100px 10px 0px;
}

.custom-select {
  position        : relative;
  display         : block;
  width           : 85%;
  background-color: transparent;
  margin          : 0 auto;
  border          : 1px solid #445366;
  z-index         : 10;
}

select {
  border            : none;
  outline           : none;
  background        : transparent;
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
  border-radius     : 0;
  margin            : 0;
  display           : block;
  width             : 100%;
  padding           : 12px 55px 15px 15px;
  font-size         : 14px;
  color             : var(--primary-color);
}

select:after {
  position   : absolute;
  right      : 0;
  top        : 0;
  width      : 50px;
  height     : 100%;
  line-height: 38px;
  content    : "\2228";
  text-align : center;
  color      : goldenrod;
  font-size  : 24px;
  border-left: 1px solid var(--primary-color);
  z-index    : -1;
}

option {
  color: black;
}

.dark option {
  color: var(--white-color);
}

.ProfileTypesSelectWrap.content {
  padding-top    : 50px;
  padding-bottom : 50px;
  flex-direction : column;
  max-width      : 1024px;
  width          : 100%;
  padding        : 0 4%;
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.ProfileTypesSelectWrap.content .card .formFieldButton {
  display        : flex;
  visibility     : hidden;
  margin-top     : 10px;
  transition     : visibility 1ms ease;
  max-height     : 40px;
  padding        : 15px;
  justify-content: center;
  align-items    : center;
  font-weight    : 500;
  color          : #000;
}

@media screen and (min-width: 767px) {
  .ProfileTypesSelectWrap.content {
    padding-bottom: 20px;
    flex-direction: row;
  }
}

.card,
.ProfileTypesSelectWrap.content .card {
  width           : 300px;
  max-width       : 100%;
  padding         : 15px;
  background-color: #292929;
  margin          : 10px;
  border-radius   : 10px;
  box-shadow      : 0px 2px 10px rgba(0, 0, 0, 0.24);
  border          : 2px solid rgba(7, 7, 7, 0.12);
  font-size       : 16px;
  transition      : all 0.3s ease;
  position        : relative;
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  cursor          : pointer;
  transition      : all 0.3s ease;
}

.card .title,
.ProfileTypesSelectWrap.content .card .title {
  width         : 100%;
  margin        : 0;
  text-align    : center;
  margin-top    : 30px;
  color         : white;
  font-weight   : 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.ProfileTypesSelectWrap.content .card small {
  width      : 100%;
  font-size  : x-small;
  text-align : center;
  color      : white;
  line-height: 14px;
}

.ProfileTypesSelectWrap.content .card .text {
  margin     : 0 auto;
  font-size  : 14px;
  text-align : center;
  margin-top : 20px;
  color      : #000000;
  font-weight: 400;
  opacity    : 0;
  max-height : 0;
  transition : all 0.3s ease;
}

.ProfileTypesSelectWrap.content .card:hover {
  box-shadow: inset 0 0 3px var(--white-color),
    /* inner white */
    0 0 3px var(--white-color),
    /* outer white */
    -1px 0 3px #f0f,
    /* outer left magenta */
    1px 0 3px #0ff;
  /* outer right cyan */
}

.ProfileTypesSelectWrap.content .card .current-type-icon {
  position  : absolute;
  top       : 20px;
  left      : 20px;
  color     : green;
  font-size : 24px;
  transition: display 0.3s ease;
  display   : none;
}

.ProfileTypesSelectWrap.content .card.current .current-type-icon {
  display: inline-block;
}

.ProfileTypesSelectWrap.content .card:hover .info {
  height: 90%;
}

.ProfileTypesSelectWrap.content .card:hover .formFieldButton,
.ProfileTypesSelectWrap.content .card:hover .text {
  transition: all 0.3s ease;
  opacity   : 1;
  max-height: 40px;
}

.ProfileTypesSelectWrap.content .card:hover:not(.current) .formFieldButton {
  visibility: visible;
}

.ProfileTypesSelectWrap.content .card:hover .icon {
  background-position: -120px;
  transition         : all 0.3s ease;
}

.ProfileTypesSelectWrap.content .card:hover .icon i {
  background             : linear-gradient(90deg, var(--primary-color), goldenrod);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity                : 1;
  transition             : all 0.3s ease;
}

#Dashboard .card-group {
  display       : flex;
  flex-direction: column;
}

#Dashboard h2.dash-welcome {
  font-size  : 1.75rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) {

  #Dashboard .card-group {
    flex-direction: row;
  }
}

.md-36 {
  font-size: 36px;
}

.icon {
  margin             : 0 auto;
  width              : 100%;
  height             : 80px;
  max-width          : 80px;
  border-radius      : 100%;
  display            : flex;
  justify-content    : center;
  align-items        : center;
  color              : white;
  transition         : all 0.8s ease;
  background-position: 0px;
  background-size    : 200px;
}

.sideImg {
  height          : 100vh;
  background-image: url("assets/img/sigup.jpg");
  background-size : cover;
}

@media screen and (max-width: 767px) {
  .sideImg {
    display: none;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input {
  border             : 1px solid #999;
  border-radius      : 50px;
  padding            : 10px;
  outline            : none;
  -webkit-user-select: none;
  cursor             : pointer;
  white-space        : nowrap;
  font-size          : 10pt;
}

textarea {
  background-color: transparent;
  width           : 100%;
  height          : auto;
  border-radius   : 8px;
  border          : 1px solid;
}

@media screen and (max-width: 767px) {
  textarea {
    width: auto;
  }
}

.sidebar {
  width    : 100%;
  top      : 0;
  bottom   : 0;
  font-size: 0.65em;
}

.nav {
  position   : absolute;
  margin-left: 5%;
  margin-top : 4rem;
  top        : 0;
  bottom     : 0;
  transform  : translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  margin  : 3.2em 0;
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li::after {
  content         : "";
  position        : absolute;
  width           : 100%;
  height          : 0.2em;
  background      : black;
  left            : 0;
  bottom          : 0;
  background-image: linear-gradient(to right, var(--primary-color), goldenrod);
}

.navitem {
  transform      : translateY(-50%);
  line-height    : 5em;
  text-transform : uppercase;
  text-decoration: none;
  letter-spacing : 0.4em;
  color          : #424242;
  display        : block;
  transition     : all ease-out 300ms;
}

.active .navitem {
  color: var(--primary-color);
}

.navitem:not(.active):hover {
  color: goldenrod;
}

.noHover {
  height          : 100%;
  background-color: transparent;

}

.noHover:hover {
  height    : 100%;
  box-shadow: 10px 10px 40px 10px #000000;
}

.badge {
  display         : inline-block;
  font-size       : .75em;
  font-weight     : 700;
  line-height     : 1.8;
  color           : var(--white-color);
  text-align      : center;
  white-space     : nowrap;
  vertical-align  : baseline;
  border-radius   : 0.25rem;
  background-color: red;

}

.text-muted {
  color: grey;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.viewall {
  color : goldenrod;
  cursor: pointer;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  vertical-align: baseline;
  box-sizing    : border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

a {
  text-decoration: none !important;
  color          : var(--daccent-color);
}

a:hover {
  color: var(--primary-color);
}

input:-webkit-autofill {
  -webkit-box-shadow     : 0 0 0 50px var(--white-color) var(--daccent-color);
  /* Change the color to your own background color */
  box-shadow             : transparent;
  -webkit-text-fill-color: var(--white-color);
}

body {
  background : var(--white-color);
  color      : var(--daccent-color);
  font-family: "Khula", sans-serif;
  overflow-x : hidden;
  font-size  : 16px;
  font-weight: 400;
}

.container {
  width    : 100%;
  max-width: 1220px;
  margin   : 0 auto;
  padding  : 0px 30px;
}

@media only screen and (max-width: 859px) {
  .container {
    padding: 0 15px;
  }
}

.regular {
  font-weight: 400 !important;
}

.semiBold {
  font-weight: 600 !important;
}

.extraBold {
  font-weight: 800 !important;
}

/* HELLPERS */

.animate {
  transition: 0.3s ease;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.x100 {
  width: 100%;
}

.actived {
  border-bottom: 2px solid var(--primary-color);
  color        : var(--daccent-color);
}

.tag {
  padding: 5px 10px;
  margin : 10px 0;
}

.shadow {
  box-shadow        : 0 0 11px rgba(237, 232, 237, 0.5);
  -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
  -moz-box-shadow   : 0 0 11px rgba(237, 232, 237, 0.5);
}

/* FLEXBOX */
.flex {
  display: flex;
}

.flexSpaceCenter {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.flexNullCenter {
  display    : flex;
  align-items: center;
  gap        : 10px;
}

.flexColumn {
  flex-direction: column;
}

.flexCenter {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.flexSpaceNull {
  display        : flex;
  justify-content: space-between;
}

/* FONT SIZES */
.font11 {
  font-size: 0.688rem;
}

.font12 {
  font-size: 0.75rem;
}

.font13 {
  font-size: 0.813rem;
}

.font14 {
  font-size: 0.875rem;
}

.font15 {
  font-size: 0.938rem;
}

.font18 {
  font-size: 1.125rem;
}

.font20 {
  font-size: 1.25rem;
}

.font25 {
  font-size: 1.563rem;
}

.font30 {
  font-size: 1.875rem;
}

.font40 {
  font-size: 2.5rem;
}

.font60 {
  font-size  : 3.75rem;
  line-height: 4.5rem;
}

@media only screen and (max-width: 859px) {
  .font11 {
    font-size: 0.688rem;
  }

  .font12 {
    font-size: 0.688rem;
  }

  .font13 {
    font-size: 0.75rem;
  }

  .font14 {
    font-size: 0.813rem;
  }

  .font15 {
    font-size: 0.813rem;
  }

  .font18 {
    font-size: 0.938rem;
  }

  .font20 {
    font-size: 1.125rem;
  }

  .font25 {
    font-size: 1.25rem;
  }

  .font30 {
    font-size: 1.5rem;
  }

  .font35 {
    font-size: 1.6rem;
  }

  .font40 {
    font-size: 1.875rem;
  }

  .font60 {
    font-size  : 2.8rem;
    line-height: 1.2;
  }
}

/* BORDER RADIUS */
.radius8 {
  border-radius: 1rem;
}

.btn {
  display        : flex;
  width          : fit-content;
  padding        : 10px 15px;
  gap            : 8px;
  border-radius  : 5px;
  justify-content: center;
  align-items    : center;
  cursor         : pointer;
  text-decoration: none;
  font-weight    : 500;
}

.btn-primary {
  background-color: var(--primary-color);
  color           : var(--black-color);
}

.radius6 {
  border-radius: 0.6rem;
}

/* COLORS */
.darkColor {
  color: #000000;
}

.dark .text-black,
.dark .darkColor {
  color: var(--white-color);
}

.orangeColor {
  color: #f2b300;
}

.lightColor {
  color: #f5f5f5;
}

/* :not(.dark) .lightColor {
  color: #000;
} */
.coralColor {
  color: #c4ffff;
}

.greyColor {
  color: #707070;
}

.whiteColor {
  color: var(--white-color);
}

/* :not(.dark) .whiteColor {
  color: #000;
} */

.yellowColor {
  color: var(--primary-color);
}

.blueColor {
  color: var(--daccent-color);
}

/* BACKGROUNDS */
.darkBg:not(.sidebar) {
  background-color: var(--white-color);
  color           : #000;
}

.darkBg.sidebar a {
  color: #000;
}

.dark .darkBg.sidebar a {
  color: var(--white-color);
}

footer.darkBg {
  background-color: #eae7eb;
  color           : #000;
}

.dark footer.darkBg,
.dark .darkBg {
  color           : var(--white-color);
  background-color: #000;
}


.orangeBg {
  background-color: #f2b300;
}

.lightBg {
  color           : #000;
  background-color: #eae7eb;
}

.dark .lightBg {
  color           : var(--white-color);
  background-color: #101010;
}

.greyBg {
  background-color: #707070;
}

.whiteBg {
  color           : #000;
  background-color: var(--white-color);
}

.dark .whiteBg {
  color           : var(--white-color);
  background-color: #000;
}

.blueBg {
  background-color: var(--daccent-color);
}

.yellowBg {
  background-color: var(--primary-color);
}


.pt-5 {
  padding-top: 7rem;
}

.pb-5 {
  padding-bottom: 50px;
}

.onHover:hover {
  background-color: var(--primary-color);
  color           : #000 !important;
}

.scroll-to-top {
  top        : 10;
  bottom     : 0;
  position   : fixed;
  overflow-y : hidden;
  overflow-x : hidden;
  margin-left: 90%;
  z-index    : 999;
  transition : all 200s ease-in;
}

.bi:hover {
  color: orange;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-1 {
  padding: 5px !important;
}

.p-2 {
  padding: 15px !important;
}

.p-3 {
  padding: 25px !important;
}

.p-4 {
  padding: 35px !important;
}

.p-5 {
  padding: 45px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-2 {
  padding-left: 15px !important;
}

.pl-3 {
  padding-left: 25px !important;
}

.pl-4 {
  padding-left: 35px !important;
}

.pl-5 {
  padding-left: 45px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.pr-2 {
  padding-right: 15px !important;
}

.pr-3 {
  padding-right: 25px !important;
}

.pr-4 {
  padding-right: 35px !important;
}

.pr-5 {
  padding-right: 45px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pt-2 {
  padding-top: 15px !important;
}

.pt-3 {
  padding-top: 25px !important;
}

.pt-4 {
  padding-top: 35px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pb-2 {
  padding-bottom: 15px !important;
}

.pb-3 {
  padding-bottom: 25px !important;
}

.pb-4 {
  padding-bottom: 35px !important;
}

.px-1 {
  padding-left : 5px !important;
  padding-right: 5px !important;
}

.px-2 {
  padding-left : 15px !important;
  padding-right: 15px !important;
}

.px-3 {
  padding-left : 25px !important;
  padding-right: 25px !important;
}

.px-4 {
  padding-left : 35px !important;
  padding-right: 35px !important;
}

.px-5 {
  padding-left : 45px !important;
  padding-right: 45px !important;
}

.py-1 {
  padding-top   : 5px !important;
  padding-bottom: 5px !important;
}

.py-2 {
  padding-top   : 15px !important;
  padding-bottom: 15px !important;
}

.py-3 {
  padding-top   : 25px !important;
  padding-bottom: 25px !important;
}

.py-4 {
  padding-top   : 35px !important;
  padding-bottom: 35px !important;
}

.py-5 {
  padding-top   : 45px !important;
  padding-bottom: 45px !important;
}

.m-1 {
  margin: 5px !important;
}

.m-2 {
  margin: 10px !important;
}

.m-3 {
  margin: 15px !important;
}

.m-4 {
  margin: 25px !important;
}

.m-5 {
  margin: 35px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.ml-4 {
  margin-left: 25px !important;
}

.ml-5 {
  margin-left: 35px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mr-4 {
  margin-right: 25px !important;
}

.mr-5 {
  margin-right: 35px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mt-4 {
  margin-top: 25px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mb-4 {
  margin-bottom: 25px !important;
}

.mx-1 {
  margin-left : 5px !important;
  margin-right: 5px !important;
}

.mx-2 {
  margin-left : 10px !important;
  margin-right: 10px !important;
}

.mx-3 {
  margin-left : 15px !important;
  margin-right: 15px !important;
}

.mx-4 {
  margin-left : 25px !important;
  margin-right: 25px !important;
}

.mx-5 {
  margin-left : 35px !important;
  margin-right: 35px !important;
}

.my-1 {
  margin-top   : 5px !important;
  margin-bottom: 5px !important;
}

.my-2 {
  margin-top   : 10px !important;
  margin-bottom: 10px !important;
}

.my-3 {
  margin-top   : 15px !important;
  margin-bottom: 15px !important;
}

.my-4 {
  margin-top   : 25px !important;
  margin-bottom: 25px !important;
}

.my-5 {
  margin-top   : 35px !important;
  margin-bottom: 35px !important;
}

.menu-icon-li {
  font-size      : 18px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-weight    : 600 !important;
  cursor         : pointer;
}

.img-preview-wrap {
  max-width: 250px;
  display  : block;
}

.img-preview-wrap img {
  width : 100%;
  height: auto;
}

.container.profile {
  max-width: 90%;
}

@media screen and (max-width: 724px) {
  form.formFields {
    display       : flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .container.profile {
    max-width: 60%;
  }

  .container.profile .formFieldInput {
    width: 100%;
  }
}

.ql-editor {
  min-height: 200px;
}